<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--- Main header -->
    <div class ="containter-fluid main_menu">
        <div class ="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class ="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_left algin-items-center">  
                        <figure class="err">
                         <img src="images/4.png" alt="Shivam" class="img-fluid" title="upadhyay">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Go back to My Webebsite </p>
                        <h1>{{errMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                     <!--right side div-->
                    
                          </div>  

                        
                     </div>

                </div>
            </div>
        </div>
    </div>
    <!--footer code
    <footer><p> The Weather is very Lovely </p></footer>-->

</body>
</html>